body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}

.options {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Increase font size for better readability */
    line-height: 1.5; /* Increase line height for better spacing */
}

/* Style the dropdown items for better readability */
select option {
    padding: 8px; /* Increase padding inside dropdown items */
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    border: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 跳转按钮 */
button.jump {
    background-color: #dc3545;
}

button.jump:hover {
    background-color: #c82333;
}

/* 随机跳转按钮 */
button.random {
    background-color: #007bff;
}

button.random:hover {
    background-color: #0056b3;
}
